@import '../utilities/variables.scss';

.socials-sidebar {
    display: none;

    @include media-query($tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;

        left: 40px;
        bottom: 0;
        width: 22px;
    }
}

.socials-sidebar-item {
    cursor: pointer;
    transition: $hover-transition;
}

.socials-sidebar-icon {
    fill: $color-secondary;
    transition: $hover-transition;
}

.socials-sidebar-icon:hover {
    fill: $color-primary;

    @media (hover: none) {
        fill: $color-secondary;
    }
}

.socials-sidebar-line {
    margin-bottom: 30px;
}

.animated-line {
    stroke-width: 2;
    stroke: $color-secondary;
}