@import '../utilities/variables.scss';


.navbar {
    z-index: 100;  // Need to have it render over top of all other elements (react-reveal is re-rendering stuff on top of this otherwise)
    padding: 8px;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $color-bg;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
    font-family: $font-heading;
    font-size: $font-size-body;

    @include media-query($tablet) {
        flex-direction: row;
    }
}

/* personal logo and hamburger menu icon */

.navbar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.navbar-menu {
    display: none;

    @include media-query($tablet) {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
}

.navbar-link {
    text-decoration: none;
    color: $color-secondary;
    transition: $hover-transition;
    cursor: pointer;
}

.navbar-link:hover {
    color: $color-primary;
}

.active-navlink {
    color: $color-primary;
}

.navbar-link-active {
    color: $color-primary;
}

.outline {
    padding: 12px;
    border: 1px solid $color-secondary;
    border-radius: 3px;
}

.outline:hover {
    border-color: $color-primary;
}

.personal-logo-vector-circle {
    stroke: $color-primary;
}

.personal-logo-vector-path {
    fill: $color-primary;
}

.personal-logo {
    height: 100%;
    width: 60px;
    flex-shrink: 0;
    cursor: pointer;
    transition: $hover-transition;
}

.personal-logo:hover {
    opacity: $hover-opacity;

    @media (hover: none) {
        opacity: 1;
    }
}

/* hamburger menu */
.navbar-menu-icon {
    position: relative;
    margin-left: auto;
    margin-right: 30px;
    width: 26px;
    height: 40px;
    cursor: pointer;
    transition: $hover-transition;

    @include media-query($tablet) {
        display: none;
    }
}

.navbar-menu-icon:hover {
    opacity: $hover-opacity;

    @media (hover: none) {
        opacity: 1;
    }
}

.navbar-menu-icon::before,
.navbar-menu-icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 26px;
    height: 3px;
    background-color: $color-primary;
    transition: transform 0.3s ease-in;
    border-radius: 1px;
}

.navbar-menu-icon::before {
    transform: translateY(15px);
}
.navbar-menu-icon::after {
    transform: translateY(23px);
}

.navbar-menu-icon-open::before {
    transform: translate(0, 20px) rotate(45deg);
}

.navbar-menu-icon-open::after {
    transform: translate(0, 20px) rotate(-45deg);
}

.hamburger-menu-open {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $color-primary;
    height: calc(100vh - 83px);
    position: fixed;
    top: 83px;
    left: 0;
    width: 100%;

    a {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.5rem;
        color: $color-bg;
        text-decoration: none;
        transition: $hover-transition;
        cursor: pointer;

        &:hover {
            opacity: $hover-opacity;
        }
    }
}

.hamburger-menu {
    display: none;
}

.hamburger-menu-item {
    display: flex;
    justify-content: center;
}